{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Criação/Edição de Turma - Jornada</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "css/pages/dashboard.css" %}" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

{% include 'nav.html' %}

{% if form.errors %}
  <!-- Error messaging -->
  <div id="errors">
    <div class="inner">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ form.non_field_errors }}
      <ul>
        {% for field in form %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- /Error messaging -->
{% endif %}

<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">

    <div class="container">

      <div class="row">
        <div class="col-md-4 col-md-offset-3">

          <form action="#" method="post" class="classic-form">
            {% csrf_token %}
            <h1>{% if edit %} Edição {% else %} Criação {% endif %} de Turma no Jornada</h1>

            <div class="create-class-fields">


              <div class="field">
                <label for="name">Nome</label>
                {% render_field form.name placeholder=form.name.label %}
                {{ form.name.errors }}
              </div> <!-- /field -->

              <div class="field">
                <p>Série:</p>
                {% render_field form.grade placeholder=form.grade.label %}
                {{ form.grade.errors }}
              </div> <!-- /field -->

              <div class="field">
                <label for="discipline">Disciplina</label>
                {% render_field form.discipline placeholder=form.discipline.label %}
                {{ form.discipline.errors }}
              </div> <!-- /field -->

              <div class="field">
                <label for="time">Horário</label>
                {% render_field form.time placeholder=form.time.label %}
                {{ form.time.errors }}
              </div> <!-- /field -->

              <div class="field">
                <label for="location">Local</label>
                {% render_field form.location placeholder=form.location.label %}
                {{ form.location.errors }}
              </div> <!-- /field -->

              <p><strong>Dados adicionais</strong></p>

              <div class="field">
                <label for="description">Descrição</label>
                {% render_field form.description placeholder=form.description.label %}
                {{ form.description.errors }}
              </div> <!-- /field -->

            </div> <!-- /login-fields -->

            <div class="create-class-actions">

              <!--<span class="login-checkbox">
                <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                <label class="choice" for="Field">Agree with the Terms & Conditions.</label>
              </span>-->

              <button class="button btn btn-primary btn-large">{% if edit %} Editar {% else %} Criar {% endif %} Turma</button>

            </div> <!-- .actions -->

          </form>

        </div>
      </div>

    </div>

    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->

{% include "footer.html" %}

<!-- Le javascript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="{% static "js/jquery-1.7.2.min.js" %}"></script> 
<script src="{% static "js/bootstrap.js" %}"></script>

 
<script src="{% static "js/base.js" %}"></script> 

</body>
</html>
