<div class="navbar-wrapper">
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Bem vindo ao <strong>Jornada</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user"></i> &nbsp; {{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Configurações</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'Accounts:logout' %}">Sair</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
</div>

<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li {% if index_active %}class="active"{% endif%}><a href="index.html"><i class="icon-home"></i><span>Home</span> </a> </li>
        <li {% if clas_active %}class="active"{% endif%}><a href="{% url 'Classes:index' %}"><i class="icon-list-alt"></i><span>Turmas</span> </a> </li>
        <li {% if trophy_active %}class="active"{% endif%}><a href="{% url 'Rewards:index' %}"><i class="icon-trophy"></i><span>Badges</span> </a></li>
        <li {% if rewards_active %}class="active"{% endif%}><a href="rewards.html"><i class="icon-ok-sign"></i><span>Pontuações</span> </a> </li>
        <li {% if statistics_active %}class="active"{% endif%}><a href="{% url 'statistics' %}"><i class="icon-signal"></i><span>Estatísticas</span> </a> </li>
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
