{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Configurações do usuário - Jornada</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link href= "{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "css/pages/dashboard.css" %}" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <style type="text/css">
    label{
      font-weight: bold;
      font-size: 14px;
      margin-top: 10px;
    }
    </style>
</head>
<body>

{% include 'nav.html' %}

<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">

    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {% if messages %}
          <div class="alert alert-success" style="padding: 20px">
            <ul>
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background: #fff">

          <form action="#" method="post" class="classic-form" style="padding: 20px">
            {% csrf_token %}

            <h1 style="margin: 10px 0px">Configurações do usuário</h1>

            <div class="create-class-fields">

              <div class="field">
                <label for="name">Nome</label>
                {% render_field form.first_name placeholder=form.first_name.label %}
                {{ form.first_name.errors }}
              </div> <!-- /field -->

              <div class="field">
                <label for="name">Sobrenome</label>
                {% render_field form.last_name placeholder=form.last_name.label %}
                {{ form.last_name.errors }}
              </div> <!-- /field -->

              <div class="field">
                <label for="name">Nome de usuário</label>
                {% render_field form.username placeholder=form.username.label %}
                {{ form.username.errors }}
              </div> <!-- /field -->

              <div class="field">
                <label for="name">Email</label>
                {% render_field form.email placeholder=form.email.label %}
                {{ form.email.errors }}
              </div> <!-- /field -->

              <p style="margin-top: 20px; border-top: solid 2px #f2f2f2; padding-top: 10px"><strong>Dados adicionais</strong></p>

              <div class="field">
                <label for="name">Escola</label>
                {% render_field custom_form.school placeholder=custom_form.school.label %}
                {{ custom_form.school.errors }}
              </div> <!-- /field -->

              {% if is_teacher %}

                <div class="field">
                  <label for="name">Disciplinas que leciona</label>
                  {% render_field custom_form.disciplines placeholder="Disciplinas que leciona" %}
                  {{ custom_form.disciplines.errors }}
                </div> <!-- /field -->

              {% else %}

                <div class="field">
                  <label for="name">Série</label>
                    {% render_field custom_form.grade placeholder="Série" %}
                    {{ custom_form.grade.errors }}
                </div> <!-- /field -->

              {% endif %}

            </div> <!-- /login-fields -->

            <div class="create-class-actions">

              <!--<span class="login-checkbox">
                <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
                <label class="choice" for="Field">Agree with the Terms & Conditions.</label>
              </span>-->

              <button class="button btn btn-primary btn-large">Salvar</button>

            </div> <!-- .actions -->

          </form>

        </div>
      </div>

    </div>

    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->

{% include "footer.html" %}

<!-- Le javascript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="{% static "js/jquery-1.7.2.min.js" %}"></script> 
<script src="{% static "js/bootstrap.js" %}"></script>

 
<script src="{% static "js/base.js" %}"></script> 

</body>
</html>
